header { 
    display: flex;
    justify-content: space-between;
    background-color: #7C5E99;
    border-bottom: 10px solid #000;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav { 
    display: inline-block;

}
a { 
    display: inline-flex;
    color: #FFF;
    font-size: 20px;
    align-items: center;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;  
    margin-right: 30px;
}
a::before {
    content: "";
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
#button { 
    background-color: #F25A70; 
    display: inline-block;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 20px;
    box-shadow: 5px 5px 0 #000;
    transition: transform 100ms linear, opacity 200ms ease-in-out;
}
#button:hover {
    transform: scale(1.08);
    opacity: 0.5;
}