.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* App.css */

/* Estilo para a classe navbar-custom */
.navbar-custom {
  border: 1px solid #000; /* Adiciona uma borda de 1px preta */
  border-radius: 5px; /* Adiciona cantos arredondados */
  background-color: #f8f9fa; /* Cor de fundo */
}

/* Estilo para os links do menu */
.navbar-custom .nav-link {
  color: #333; /* Define a cor do texto como mais escura (#333 é um cinza escuro) */
}

/* Estilo para o link ativo */
.navbar-custom .nav-link.active {
  color: #000; /* Define a cor do texto como preta para o link ativo */
  font-weight: bold; /* Define a fonte em negrito para o link ativo, se desejado */
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
