body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #000;
    color: #fff;
    padding: 20px;
  }
  
  
  nav a {
    text-decoration: none;
    color: #fff;
  }
  nav { text-align: center;
  justify-content: center;}
  nav a:hover {
    color: #ccc;
  }
  
  main {
    margin-top: 20px;
  }
  
  a:hover {
    color: #ccc;
    text-decoration: underline;
  }
  a:visited {
    color: #AAA ;
  }
  section {
    padding: 20px;
  }
  
  #sobre {
    background-color: #ccc;
  }
  
  #portfolio {
    background-color: #eee;
  }
  
  #contato {
    background-color: #ddd;
  }
  #redes {
    background-color: #333;
    color: white;
  }
  #projetos {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #projetos li a {
    display: block;
    text-decoration: none;
    color: black;
  }
  
  #projetos li a img {
    float: left;
    width: 200px;
  }
  
  
  footer {
    background-color: #000;
    color: white;
    padding: 20px;
    text-align: center;
}
  #foto {
    border-radius: 30px;
    width: 300px;
    height: auto;
    box-shadow: #AAA 10px 10px;;
  }
  #portfolioimg {
    width: 1000px;
    height: auto;
  }
  input, textarea {
    background-color: #CCCCCC;
    border:#000 1px solid;
    
  }

  @media screen and (max-width: 800px) {
    #portfolioimg {width: 500px; height: auto}
  }
  #msg {
    width: 400px;
    height: 220px;
  }