#box {
 
    display: inline-block;
    background-color: #3A4042;
    width: 570px;
    box-shadow: 10px 10px 0 #000;
    text-align: center;
    padding: 20px 10px;

}
#box h2 {
    margin-bottom: 10px;
    padding-bottom: 10px;
}