.button { 
    background-color: #F25A70; 
    display: inline-block;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 20px;
    box-shadow: 5px 5px 0 #000;
    transition: transform 100ms linear, opacity 200ms ease-in-out;
}
.button:hover {
    transform: scale(1.08);
    opacity: 0.5;
}