.main-banner {
    background-image: url(../../assets/img/memeco.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    border-bottom: 10px solid #000;
    display: flex;
    flex-direction: column;
}

.main-banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 640px;
    padding-left: 20px;
    padding-top: 20px;
}

.main-banner .main-box {
    padding: 20px 20px 20px 20px;

    margin-bottom: 40px;
}

.main-banner .navigation {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}
